<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="icon" href="/images/weather.png">
	<link rel="stylesheet" href="/css/styles.css"></link>

</head>
<body>

<div class="main-content">
	{{>header}}
	<p>This site was created by Luciano Sewell. </p>
	<img class="portrait" src="images/_9kVWaQw_400x400.jpg" alt="">
	<p>It uses data from mapbox.com and weatherstack.com.</p>


</div>


<p>{{>footer}}</p>


</body>
</html>